<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.hackerlcandroidfarmework"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="17" />
    <!-- permissions -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.SEND_SMS"/>

    <application
        android:name="com.example.hackerlcandroidfarmework.HackerlcApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/notitle" >
        <activity
            android:name="com.example.hackerlcandroidfarmework.view.WellcomeActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.hackerlcandroidfarmework.view.MainActivity"
            android:label="@string/title_activity_main" >
        </activity>
        <activity
            android:name="com.example.hackerlcandroidfarmework.view.ManageListView"
            android:label="@string/title_activity_main" >
        </activity>
        <activity
            android:name="com.example.hackerlcandroidfarmework.view.ManageProgressDialogActivity"
            android:label="@string/title_activity_main" >
        </activity>
        <activity
            android:name="com.example.hackerlcandroidfarmework.view.UserGuideActivity"
            android:label="@string/title_activity_user_guide" >
        </activity>
        <activity
            android:name="com.example.hackerlcandroidfarmework.view.ScrollListViewActivity"
            android:label="@string/title_activity_scroll_list_view" >
        </activity>
        <activity
            android:name="com.example.hackerlcandroidfarmework.view.ScrollListView2InteriorActivity"
            android:label="@string/title_activity_scroll_list_view2_interior" >
        </activity>
        <activity
            android:name="com.example.hackerlcandroidfarmework.view.UpdateListViewActivity"
            android:label="@string/title_activity_update_list_view" >
        </activity>
        <activity
            android:name="com.example.hackerlcandroidfarmework.view.ListViewDialogActivity"
            android:label="@string/title_activity_list_view_dialog" >
        </activity>
        <activity
            android:name="com.example.hackerlcandroidfarmework.view.SmsActivity"
            android:label="@string/title_activity_sms" >
        </activity>
    </application>

</manifest>